@charset "ISO-8859-1";

body {
	background-color: yellow;
	font-family: consolas;
}

h1 {
	display: flex;
	justify-content: center;
}

mark {
	color: blue;
}

p {
	display: flex;
	justify-content: center;
}

span {
	display: flex;
	justify-content: center;
}