<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>tunehub landing page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/indexstyle.css}" />


</head>
<body>


	<h1>
		<mark>T U N E H U B </mark>
	</h1>
	<h1>SAYS HI</h1>

	<p>You Got 2 Options Down Here</p>
	<span> <label>click if you are exisitng customer <a
			href="login">Login Here</a></label></span>
	<br>
	<span><label>click if you are a new joiner <a
			href="registration">Register Here</a>
	</label> </span>

</body>
</html>